
  <div id="house-rep-grid" class="features-overview">
    <div class="container">
      <div style="margin-bottom: 43px">
        <div>
          <h1 style="text-align: center;"><%= state %>'s House Of Representatives Scores</h1>
        </div>
      </div>


      <% for (var i=0; i<display_reps.length; i++) {%>

        <div class="col-md-3 col-sm-6">
          <div class="feature">
              <div class="rep-score-card">
                  <div class="rep-info">
                      <div class="rep-portrait">
                          <div class="house-paperclip-container">
                              <img class="house-paperclip-image" alt="paperclip" src="images/paper_clip.png" />
                          </div>
                          <div class="rep-image-container">
                              <img class="rep-image" alt="senator" src="http://theunitedstates.io/images/congress/225x275/<%= display_reps[i].bioguide %>.jpg" />
                          </div>
                          <div class="lapdog-image-container" style="<% if ((display_reps[i].voting_score == 0) && (display_reps[i].total_contributions > 0)) {%>display: block;<%} else {%>display: none;<%}%>">
                              <img class="lapdog-image" alt="lapdog" src="images/dog_badge.png" />
                          </div>
                      </div>
                      <% var fullName = display_reps[i].first + " " + display_reps[i].last,
                             lastname = display_reps[i].last;

                         if (lastname.length > 16) {
                           fullName = display_reps[i].last;
                         } %>
                      <div class="rep-name"><%if (fullName.length > 17) {%><%= display_reps[i].first[0] %>. <%= display_reps[i].last %><%} else {%><%= fullName %><%}%></div>
                      <div class="rep-position"><%
                        switch(display_reps[i].party) {
                            case "R":
                                party = "Republican";
                                break;
                            case "D":
                                party = "Democrat";
                                break;
                            case "I":
                                party = "Independent";
                                break;
                            default:
                                party = "";
                        }
                        %><%= party %>, <span class="rep-state"><%= display_reps[i].state %></span></div>
                  </div>
                   <div class="rating-values">
                      <div class="thumbs-container">
                        <img class="thumbs-image" alt="thumbs" src="images/thumbs_down.png" />
                      </div>

                      <div class="dollar-container">
                          <%
                          var totalDollars = display_reps[i].total_contributions,
                              dollarAmount = "",
                              emptyAmount = "";

                          switch(true) {
                              case (totalDollars <= 0):
                                  dollarAmount = "";
                                  emptyAmount = "$$$$$";
                                  break;
                              case (totalDollars <= 10000):
                                  dollarAmount = "$";
                                  emptyAmount = "$$$$";
                                  break;
                              case (totalDollars <= 20000):
                                  dollarAmount = "$$";
                                  emptyAmount = "$$$";
                                  break;
                              case (totalDollars <= 45000):
                                  dollarAmount = "$$$";
                                  emptyAmount = "$$";
                                  break;
                              case (totalDollars <= 65000):
                                  dollarAmount = "$$$$";
                                  emptyAmount = "$";
                                  break;
                              case (totalDollars > 65000):
                                  dollarAmount = "$$$$$";
                                  emptyAmount = "";
                                  break;
                              default:
                                  dollarAmount = "";
                                  emptyAmount = "$$$$$";
                          } %>
                          <div class="dollar-amount">
                            <span class="fill"><%= dollarAmount %></span><span class="empty"><%= emptyAmount %></span>
                          </div>
                      </div>
                   </div>
                   <div class="rating-labels">
                     <div class="brady-rating">
                       Brady Rating
                     </div>
                     <div class="gun-lobby">
                       Gun Lobby
                     </div>
                   </div>
             </div>
          </div>
        </div>

      <%}%>



    </div>
  </div>

