
<div class="social" style="font-size: 5em; text-align: center;">
   <a href="#"><i aria-hidden="true" class="social_facebook_circle"></i></a>
   <a href="#"><i aria-hidden="true" class="social_twitter_circle"></i></a>
 </div>


<div>
  <h1 style="text-align: center;"><%= state %>'s Senators Scores</h1>
</div>


<div class="row">
  <% for (var i=0; i<display_senators.length; i++) {%>

    <div class="col-md-6">
      <div class="senator-column" style="<% if (i % 2 == 0) {%>float: right;<%}else{%>float: left;<%}%>">
          <div class="senator-score-card">
              <div class="senator-info">
                  <div class="senator-portrait">
                      <div class="paperclip-container">
                          <img class="paperclip-image" alt="paperclip" src="images/paper_clip.png" />
                      </div>
                      <div class="senator-image-container">
                        <img class="senator-image" alt="senator" src="http://theunitedstates.io/images/congress/225x275/<%= display_senators[i].bioguide %>.jpg" />
                      </div>
                  </div>
                  <div class="senator-name"><%= display_senators[i].first %> <%= display_senators[i].last %></div>
                  <div class="senator-position"><% if (display_senators[i].senior == 1) {%>Senior Senator<%} else {%>Senator<%}%>, <span class="senator-state"><%= state %></span></div>
              </div>
               <div class="rating-values">
                  <div class="thumbs-container">
                    <img class="thumbs-image" alt="thumbs" src="<% if (i % 2 == 0) {%>images/thumbs_down.png<%}else{%>images/thumbs_up.png<%}%>" />
                  </div>

                  <div class="dollar-container">
                      <div class="dollar-amount"><span class="fill">$$$</span><span class="empty">$$</span></div>
                  </div>
               </div>
               <div class="rating-labels">
                 <div class="brady-rating">
                   Brady Rating %
                 </div>
                 <div class="gun-lobby">
                   Gun Lobby $
                 </div>
               </div>
         </div>

      </div>
    </div>
    <%}%>

</div>