

<div>
  <h1 style="text-align: center;"><%= state %> Senators Scores</h1>
</div>



<div id="start-senators-card" class="row">
  <% for (var i=0; i<display_senators.length; i++) {%>

    <div class="col-md-6">
      <div class="senator-column" style="<% if (i % 2 == 0) {%>float: right;<%}else{%>float: left;<%}%>">
          <div class="senator-score-card">
              <div class="senator-info">
                  <div class="senator-portrait">
                      <div class="paperclip-container">
                          <img class="paperclip-image" alt="paperclip" src="images/paper_clip.png" />
                      </div>
                      <div class="senator-image-container">
                        <img class="senator-image" alt="senator" src="<%if (display_senators[i].last == "Booker") {%>images/direct/cory_booker.jpg<%} else if (display_senators[i].last == "Walsh") {%>images/direct/john_walsh.jpg<%} else {%>images/bioguide/<%= display_senators[i].bioguide %>.jpg <%}%>" />
                      </div>
                      <div class="lapdog-large-image-container" style="<%if ((display_senators[i].last == "Begich") || (display_senators[i].last == "Pryor")) {%>display: block;<%} else {%>display: none;<%}%>">
                          <img class="lapdog-large-image" alt="senator" src="images/badges02.png" />
                      </div>
                      <div class="lapdog-large-image-container" style="<% if (((display_senators[i].voting_score == 0) && (display_senators[i].total_contributions > 0)) && ((display_senators[i].last != "Begich") || (display_senators[i].last != "Pryor"))) {%>display: block;<%} else {%>display: none;<%}%>">
                          <img class="lapdog-large-image" alt="senator" src="images/badges01.png" />
                      </div>
                  </div>
                  <div class="senator-name"><%= display_senators[i].first %> <%= display_senators[i].last %></div>
                  <div class="senator-position"><%
                      switch(display_senators[i].party) {
                          case "R":
                              party = "Republican";
                              break;
                          case "D":
                              party = "Democrat";
                              break;
                          case "I":
                              party = "Independent";
                              break;
                          default:
                              party = "";
                      }
                      %><%= party %> Senator, <span class="senator-state"><%= state %></span></div>
              </div>
               <div class="rating-values">
                  <div class="thumbs-container">
                    <% if ((display_senators[i].last == "Booker") || (display_senators[i].last == "Walsh")) {%>
                      <div class="dollar-amount"><span class="fill">N/A</span></div>
                    <%} else {%>
                      <img class="thumbs-image" alt="thumbs" src="<% if ((display_senators[i].voting_score == 0)) {%>images/thumbs_down.png<%}else{%>images/thumbs_up.png<%}%>" />
                    <%}%>
                    </div>

                    <div class="dollar-container">
                        <%
                        var totalDollars = display_senators[i].total_contributions,
                            dollarAmount = "",
                            emptyAmount = "";

                        switch(true) {
                            case (totalDollars <= 0):
                                dollarAmount = "";
                                emptyAmount = "$$$$$";
                                break;
                            case (totalDollars <= 10000):
                                dollarAmount = "$";
                                emptyAmount = "$$$$";
                                break;
                            case (totalDollars <= 20000):
                                dollarAmount = "$$";
                                emptyAmount = "$$$";
                                break;
                            case (totalDollars <= 45000):
                                dollarAmount = "$$$";
                                emptyAmount = "$$";
                                break;
                            case (totalDollars <= 65000):
                                dollarAmount = "$$$$";
                                emptyAmount = "$";
                                break;
                            case (totalDollars > 65000):
                                dollarAmount = "$$$$$";
                                emptyAmount = "";
                                break;
                            default:
                                dollarAmount = "";
                                emptyAmount = "$$$$$";
                        } %>
                        <div class="dollar-amount">
                          <span class="fill"><%= dollarAmount %></span><span class="empty"><%= emptyAmount %></span>
                        </div>
                    </div>
               </div>
               <div class="rating-labels">
                 <div class="brady-rating">
                   Brady Rating
                 </div>
                 <div class="gun-lobby">
                   Gun Lobby $
                 </div>
               </div>
         </div>

      </div>
    </div>
    <%}%>

</div>